[Oo]bj/
src/**/[Bb]in/
.nuget/
_ReSharper.*
packages/
artifacts/
*.user
*.cache
*.suo
*.userprefs
*DS_Store
*.sln.ide
lib/
.sonar
vars.user.cmd
/.vs
/target
/node_modules
temp/
*.ncrunchproject
*.ncrunchsolution